<!DOCTYPE html>
<html ng-app="roowixApp">
<head>
    <meta charset="utf-8" />
    <!--[if lt IE 9]><script src="js/html5.js"></script><![endif]-->
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css'>

    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <script src="js/scroll.js"></script>
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
</head>
<body ng-class="{'': isActiveNavMenu, 'hide-navbar': !isActiveNavMenu}">

<div class="wrapper">

    <nav class="main-navigation">
        <a href="javascript:" class="toggleNav" ng-click="toggleNavMenu()"><span class="icon-menu"></span></a>
        <a href="javascript:" class="logo"><span class="icon-logo"></span></a>
        <ul class="nav">
            <li>
                <a href="javascript:">
                    <span class="icon-whatwedo"></span>
                    <span class="text">что делаем</span>
                </a>
            </li>
            <li>
                <a href="javascript:">
                    <span class="icon-vacancy"></span>
                    <span class="text">вакансии</span>
                </a>
            </li>
            <li>
                <a href="javascript:">
                    <span class="icon-contacts"></span>
                    <span class="text">контакты</span>
                </a>
            </li>
        </ul>
    </nav>

    <section class="screen first">

        <div class="start">
            <div class="company">
                <img src="images/logo.png" alt=""/>
                <p>Development company</p>
            </div>
            <div class="brain">
                <img src="images/brain.png" alt=""/>
            </div>
            <h1 class="title">Мы изменим представление о ваших возможностях</h1>
            <div class="sp"></div>
        </div>
    </section>
    <div id="content_screen" class="screen">

        <section class="second clearfix" id="second">
            <div class="wrap text-center">
                <h1 class="title">Что делаем</h1>
                <div class="sp"></div>
            </div>
        </section>
        <section class="vacancy clearfix" id="vacancy">
            <div class="wrap">
                <h1 class="title">Вакансии</h1>
                <p class="subtitle">Дружная команда ищет клевых разрабочиков <br/> для интересных проектов</p>
                <ul class="vacancy-list">
                    <li>
                        <h2 class="header">PHP программист <small>/ от 30 000 руб.</small> <span class="icon-minus"></span><span class="icon-plus"></span></h2>
                        <div class="clearfix">
                            <div class="clearfix">
                                <div class="grid4">
                                    <strong>Описание</strong>
                                    <p>Требуется программисты с опытом разработки web-приложений, желанием работать в команде, саморазвиваться.</p>
                                    <p>Мы ищем людей для расширения команды, работающей на большом и быстро развивающемся проекте. Проект интернациональный - отличная возможность улучшить навыки работы не только внутри команды: http://www.gelatogroup.com</p>
                                </div>
                                <div class="grid4">
                                    <strong>Требования</strong>
                                    <ul class="requirements">
                                        <li>Уверенное знание JavaScript, опыт разработки JS-приложений. Библиотеки: как минимум jQuery, плюсом будет знакомство с современными JS-framework'ами.</li>
                                        <li>Кроссбраузерная, адаптивная верстка HTML, CSS. Приветствуется опыт работы с LESS или другими препроцессорами.</li>
                                        <li>Английский на разговорном уровне.</li>
                                    </ul>
                                </div>
                                <div class="grid4">
                                    <strong>Личные навыки</strong>
                                    <ul class="personal-skills">
                                        <li>Адекватность, самостоятельность и креативность.</li>
                                        <li>Готовность работать с чужим кодом, не пытаясь переписать его с нуля.</li>
                                        <li>Умение находить быстрые и оптимальные решения.</li>
                                        <li>Желание повышать свою квалификацию.</li>
                                    </ul>
                                </div>
                            </div>
                            <p>Мы будем рады рассказать Вам о нас в нашем офисе, ждем ваших резюме: <a href="javascript:">hr@roowix.com</a></p>
                        </div>
                    </li>
                    <li>
                        <h2 class="header">Frontend developer (Javascript/HTML/CSS)<span class="icon-minus"></span><span class="icon-plus"></span></h2>
                        <div class="clearfix">
                            <div class="clearfix">
                                <div class="grid4">
                                    <strong>Описание</strong>
                                    <p>Требуется программисты с опытом разработки web-приложений, желанием работать в команде, саморазвиваться.</p>
                                    <p>Мы ищем людей для расширения команды, работающей на большом и быстро развивающемся проекте. Проект интернациональный - отличная возможность улучшить навыки работы не только внутри команды: http://www.gelatogroup.com</p>
                                </div>
                                <div class="grid4">
                                    <strong>Требования</strong>
                                    <ul class="requirements">
                                        <li>Уверенное знание JavaScript, опыт разработки JS-приложений. Библиотеки: как минимум jQuery, плюсом будет знакомство с современными JS-framework'ами.</li>
                                        <li>Кроссбраузерная, адаптивная верстка HTML, CSS. Приветствуется опыт работы с LESS или другими препроцессорами.</li>
                                        <li>Английский на разговорном уровне.</li>
                                    </ul>
                                </div>
                                <div class="grid4">
                                    <strong>Личные навыки</strong>
                                    <ul class="personal-skills">
                                        <li>Адекватность, самостоятельность и креативность.</li>
                                        <li>Готовность работать с чужим кодом, не пытаясь переписать его с нуля.</li>
                                        <li>Умение находить быстрые и оптимальные решения.</li>
                                        <li>Желание повышать свою квалификацию.</li>
                                    </ul>
                                </div>
                            </div>
                            <p>Мы будем рады рассказать Вам о нас в нашем офисе, ждем ваших резюме: <a href="javascript:">hr@roowix.com</a></p>
                        </div>
                    </li>
                    <li>
                        <h2 class="header">Frontend developer (Javascript/HTML/CSS)<span class="icon-minus"></span><span class="icon-plus"></span></h2>
                        <div class="clearfix">
                            <div class="clearfix">
                                <div class="grid4">
                                    <strong>Описание</strong>
                                    <p>Требуется программисты с опытом разработки web-приложений, желанием работать в команде, саморазвиваться.</p>
                                    <p>Мы ищем людей для расширения команды, работающей на большом и быстро развивающемся проекте. Проект интернациональный - отличная возможность улучшить навыки работы не только внутри команды: http://www.gelatogroup.com</p>
                                </div>
                                <div class="grid4">
                                    <strong>Требования</strong>
                                    <ul class="requirements">
                                        <li>Уверенное знание JavaScript, опыт разработки JS-приложений. Библиотеки: как минимум jQuery, плюсом будет знакомство с современными JS-framework'ами.</li>
                                        <li>Кроссбраузерная, адаптивная верстка HTML, CSS. Приветствуется опыт работы с LESS или другими препроцессорами.</li>
                                        <li>Английский на разговорном уровне.</li>
                                    </ul>
                                </div>
                                <div class="grid4">
                                    <strong>Личные навыки</strong>
                                    <ul class="personal-skills">
                                        <li>Адекватность, самостоятельность и креативность.</li>
                                        <li>Готовность работать с чужим кодом, не пытаясь переписать его с нуля.</li>
                                        <li>Умение находить быстрые и оптимальные решения.</li>
                                        <li>Желание повышать свою квалификацию.</li>
                                    </ul>
                                </div>
                            </div>
                            <p>Мы будем рады рассказать Вам о нас в нашем офисе, ждем ваших резюме: <a href="javascript:">hr@roowix.com</a></p>
                        </div>
                    </li>
                </ul>
                <div class="sp"></div>
            </div>
        </section>
    </div>

    <section class="screen contacts" ng-controller="MapCtrl">
        <div id="map"></div>
        <div class="contact-form-box">
            <div class="vcard">
                <img src="/img/academ.jpg" alt=""/>
                <address class="adr">
                    <span class="fn org">ООО Roowix</span>
                    <span class="country-name">Россия</span>,
                    <span class="locality">г. Новосибирск</span>,<br/>
                    <span class="street-address">проспект Академика Лаврентьева, 6/1,</span>
                    <span class="extended-address"> оф. 801</span>
                </address>
            </div>
            <form action="#1" class="contact-form">
                <div class="clearfix">
                    <div class="input-wrap">
                        <input type="text" value="" placeholder="Ваше имя"/>
                        <span class="icon-username"></span>
                    </div>
                    <div class="input-wrap">
                        <input type="text" value="" placeholder="Ваш e-mail"/>
                        <span class="icon-email"></span>
                    </div>
                </div>
                <textarea rows="1" placeholder="Текст сообщения"></textarea>
                <button type="submit" class="btn">Отправить</button>
            </form>
        </div>
    </section>

</div>

<script src="components/jquery/dist/jquery.min.js"></script>
<script src="components/jquery-ui/jquery-ui.min.js"></script>
<script src="components/angular/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/directives.js"></script>
<script src="js/filters.js"></script>
<script src="js/services.js"></script>
<script src="js/main.js"></script>


</body>
</html>