html, body{ margin: 0; padding: 0; width: 100%; height: 100%; }
body{ font-size: 100%; font-family: 'Roboto', sans-serif; font-weight: 400; color: #474f57; position: relative; background: #46bfd5; }

a{ color: #0091d4; text-decoration: underline; }
a:hover{ text-decoration: none;}
img{ vertical-align: middle;}

/* Help
-----------------------------------------------------------------------------*/
.wrapper { width: 100%; min-height: 100%; height: 100%; padding-left:130px; position: relative;  -webkit-transition: all 1.7s; transition: all 1.7s; }
.hide-navbar .wrapper{ padding-left: 52px; }
.wrap{ width: 80%; margin:auto; max-width:940px; }

.pull-left{ float: left;}
.pull-right{ float: right;}
.oveflow{ overflow: hidden; }

.text-center{ text-align: center !important; }
.text-right{ text-align: right !important; }
.text-left{ text-align: left !important; }

.sp{ clear: both; width: 160px; height: 21px; background: url("/img/sprite.png") 0 -98px no-repeat; margin: 20px auto; }

.grid4{ float: left; width: 32%; }
.grid4 + .grid4{ margin-left: 2%;}
/* Main Navigation
-----------------------------------------------------------------------------*/
.main-navigation{ width: 130px; padding:20px 10px; text-align: center; background: #474f57; color: #fff; position: fixed; z-index: 99; left: 0; top: 0; bottom: 0;  -webkit-transition: all 1.7s; transition: all 1.7s;}
.main-navigation .toggleNav{ position: absolute; top:20px; left: 100%; margin-left:10px; z-index: 99; -webkit-transition: all 1s; transition: all 1s; }
.main-navigation .logo{ position: absolute; left: 50%; top: 17px; margin-left: -46px; -webkit-transition: all 1.5s; transition: all 1.5s; }

.main-navigation .nav{ list-style: none; padding: 0; margin: 60px 0;  -webkit-transition: all 1s; transition: all 1s; }
.main-navigation .nav li{ margin-bottom: 40px;}
.main-navigation .nav li a{  text-decoration: none; display: block; font-size: 75%; font-weight:500; color: #fff; text-transform: uppercase; white-space: nowrap;}
.main-navigation .nav li a [class^="icon-"],
.main-navigation .nav li a [class*=" icon-"]{
    -webkit-transition: all 0.5s; transition: all 0.5s;
}

.main-navigation .nav li a .text{ display: block; -webkit-transition: all 0.5s; transition: all 0.5s;
    -ms-transform: scale(0,0);
    -webkit-transform: scale(0,0);
    transform: scale(0,0);
    opacity: 0;
    margin-top: -16px;
}
.main-navigation .nav li a:hover .text{
    -ms-transform: scale(1,1); /* IE 9 */
    -webkit-transform: scale(1,1); /* Chrome, Safari, Opera */
    transform: scale(1,1);
    opacity: 1;
    margin-top: 20px;
}
.main-navigation .nav li:first-child a:hover{ color: #7beb95; }
.main-navigation .nav li:nth-child(2) a:hover{ color: #51d2e9; }
.main-navigation .nav li:last-child a:hover{ color: #e9bc51; }


    /*hide-navbar*/
.hide-navbar .main-navigation{ width: 52px; }
.hide-navbar .main-navigation .toggleNav{ right: auto; left: 50%; margin-left: -10px; margin-right: 0;  }
.hide-navbar .main-navigation .logo{ left: -25px; top:100%; margin-left: 0; margin-top: -70px; -ms-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); transform: rotate(-90deg); }
.hide-navbar .main-navigation .nav{ opacity: 0; visibility: hidden; }

/* Screens
-----------------------------------------------------------------------------*/
.screen{ min-height: 100%; z-index: 12;   width: 100%; position: relative; }
.screen .title{ font-size:225%; font-weight:300; margin:40px 0; color: #fff;  }

/* Start screen
-----------------------------------------------------------------------------*/

.screen.first{ background: #46bfd5; position: fixed; z-index: 10; left: 0px; right: 0; top: 0; bottom: 0; }

.start{ text-align: center; color: #fff; position: absolute; top: 0; bottom: 0; left: 130px; right: 0; width: 50%; height: 58%; margin: auto; -webkit-transition: left 0.5s; transition: left 0.5s;  }
.hide-navbar .start{ left: 52px;}
.start .company p{ margin: 10px 0 30px 0; text-transform: uppercase; font-size: 68.8%; font-weight: 300; }
.start .brain{ border-bottom: 1px solid #1d98ae;}

/* What we do screen
-----------------------------------------------------------------------------*/

.second{ background: #7bd18f; border-top:1px solid #fff; }

/* Vacancy screen
-----------------------------------------------------------------------------*/

.vacancy{ background: #f5f5f5; padding:50px 0;}
.vacancy .title{ margin-top: 0; margin-bottom:10px; color: #474f57; text-align: center;}
.vacancy .subtitle{ color: #474f57; text-align: center; font-size: 115%; margin: 0 0 50px 0;}

.vacancy-list{ list-style: none; padding: 0; margin: 0 0 50px 0; border-top: 1px solid #dbdcdd; }
.vacancy-list > li{ border-bottom: 1px solid #dbdcdd; margin-bottom: 1px; }
.vacancy-list > li .header{ margin: 0; font-size: 150%;  font-weight: 500; line-height: 1; padding: 16px 0; position: relative; outline: 0 none; cursor: pointer;}
.vacancy-list > li .header small{ font-size: 100%;  font-weight: 100;}
.vacancy-list > li .header .icon-plus{ float: right;}
.vacancy-list > li .header .icon-minus{ float: right; margin-top: 8px; display: none;}
.vacancy-list > li .header.ui-state-active .icon-minus{ display: block;}
.vacancy-list > li .header.ui-state-active .icon-plus{ display: none;}
.vacancy-list > li strong{ display: block; margin-bottom: 10px;}
.vacancy-list > li p{ margin: 0 0 10px 0;}

.ui-accordion-content{ margin-top: 15px; padding-bottom: 15px; }

.personal-skills,
.requirements{ list-style: none; padding: 0; margin: 0; }
.personal-skills li,
.requirements li{ padding-left: 15px; position: relative; margin-bottom: 10px;}
.personal-skills li:before,
.requirements li:before{ content: ''; background: url("../img/sprite.png") -113px -119px no-repeat; width: 9px; height: 8px; position: absolute; left: 0; top:5px; }


.personal-skills li:before{ width: 9px; height: 7px; background-position:-122px -119px; }

/* Contacts screen
-----------------------------------------------------------------------------*/
.screen.contacts{ position: fixed; z-index: 9; left: 0; right: 0; top: 0; bottom: 0; }
.screen.contacts.show{ z-index: 11; }

#map{ width: 100%; height: 100%; }
[class^="-ground-pane"],
[class*="-ground-pane"],
[class~="ground-pane"]{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(95%);
}
.contact-form-box{  position: absolute; top: 0; bottom: 0; left: 130px; right: 0; width: 50%; height: 30%; margin: auto; }
.contact-form-box .vcard{ float: left; max-width: 280px; background: #f7bd45;  overflow: hidden;}
.contact-form-box .vcard img{ display: block; height: 100%; }
.contact-form-box .vcard .adr{ padding: 10%; font-size: 100%; font-style: normal; color: #474f57; font-weight: 300; }
.contact-form-box .vcard .adr .fn{ display: block;}
.contact-form-box .contact-form{ overflow: hidden; min-width: 310px;}
.contact-form-box .contact-form .input-wrap{ float: left; width: 50%; position: relative; padding: 12px 12px 12px 55px; background: #fff;}
.contact-form-box .contact-form .input-wrap + .input-wrap{ border-left: 1px solid #d9d9d9;}
.contact-form-box .contact-form .input-wrap input{ width: 100%; height: 22px; border: 0 none; outline: 0 none; border-radius: 0;  }
.contact-form-box .contact-form [class^="icon-"],
.contact-form-box .contact-form [class*=" icon-"]{ position: absolute; left: 25px; top:13px; -webkit-transition: all 0.5s; transition: all 0.5s;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(95%);
}
.contact-form-box .contact-form input:focus ~ [class^="icon-"],
.contact-form-box .contact-form input:focus ~ [class*=" icon-"]{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}
.contact-form-box .contact-form textarea{ width: 100%; padding: 17px 23px; background: #fff; border: 0 none; border-top: 1px solid #d9d9d9; outline: 0 none; min-height: 259px; margin-bottom: 10px;}
.contact-form-box .contact-form .btn{ float: right;}
.btn{ color:#444b53 ; font-size: 120%; text-decoration: none; display: inline-block; vertical-align: middle; min-width: 206px; height: 50px; padding: 8px 10px; text-align: center; background-color: #f7bd45; border: 0 none; outline: 0 none;
    -webkit-transition: all 0.4s; transition: all 0.4s;
}
.btn:hover{ background-color: #ffa800; }
.btn:active{ background-color: #474f57; color: #fff; }

/* Icons
-----------------------------------------------------------------------------*/
[class^="icon-"],
[class*=" icon-"] { display: inline-block; *display: inline; *zoom: 1; line-height: 1; vertical-align: middle; background-image: url("../img/sprite.png"); }
.icon-menu{ width:19px; height: 17px; background-position: -160px -98px; }
.hide-navbar .icon-menu{ width:19px; height: 17px; background-position: -179px -98px; }
.icon-logo{ width:93px; height: 19px; background-position: 0 -157px; }

.icon-whatwedo{ width:51px; height: 43px; background-position: 0 0; }
.active .icon-whatwedo,
a:hover .icon-whatwedo{ background-position: 0 -49px; }

.icon-vacancy{ width:57px; height: 35px; background-position: -106px 0; }
.active .icon-vacancy,
a:hover .icon-vacancy{ background-position: -106px -49px; }

.icon-contacts{ width:57px; height: 49px; background-position: -163px 0; }
.active .icon-contacts,
a:hover .icon-contacts{ background-position: -163px -49px; }

.icon-username{ width:14px; height:20px; background-position: -131px -119px; margin-left: 5px; }
.icon-email{ width:20px; height:20px; background-position: -145px -119px; }
.icon-minus{ width:20px; height:3px; background-position: -198px -98px; }
.icon-plus{ width:20px; height:20px; background-position: -93px -119px; }



@media (max-width: 1200px) {
    .contact-form-box{ width: 70%; }
}
@media (max-width: 860px) {
    body{ font-size: 75%;}
    .contact-form-box .vcard{ max-width: 200px;}
    .contact-form-box .contact-form textarea{ min-height: 220px;}
}
@media (max-width: 750px) {
    .start{ height: 80%;}
    .contact-form-box .vcard{ float: none; width: 100%; max-width: 100%; }
    .contact-form-box .vcard img{float: left; width: 50%;}
    .contact-form-box .vcard .adr{ padding: 5%; overflow: hidden;}
}
@media (max-width: 500px) {
    .start{ height: 58%;}
    .grid4{ float: none; width: 100%;}
    .start .brain{ display: none;}
}
